name: project2

on: [ pull_request, push ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      # Setup python
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      # Install python packages
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ruamel.yaml

      - name: Add dependency overrides
        run: |
          chmod +x add_dependency_overrides.py
          python3 add_dependency_overrides.py -b ${GITHUB_REF##*/}

      - name: Install dependencies in project1
        working-directory: project1
        run: dart pub get

      - name: Install dependencies in project2
        working-directory: project2
        run: dart pub get

      - name: Run tests in project2
        working-directory: project2
        run: dart test --concurrency=1